header {
  position: fixed;
  background-color: #f63232;
  top: 0;
  left: 0;
  padding: 20px;
  text-align: center;
  width: 100%;
  z-index: 1;
}

header h1 {
  display: inline-block;
  color: white;
  border: 8px solid white;
  border-radius: 36px;
  padding: 6px 12px;
}

.banner {
  position: relative;
}

.banner img {
  max-width: 100%;
}

.banner .welcome {
  background-color: #feb614;
  color: white;
  position: absolute;
  padding: 30px;
  left: 0;
  top: 30%;
}

.banner h2 {
  font-size: 74px;
}

.banner h2 span {
  font-size: 1.3em;
}